

             <div>identifiant utilisateur : {{ idUser }}</div>
             <div *ngIf="id !== undefined  ">identifiant compte : {{ id }}</div>
             <div class="card mt-3">
              <form [formGroup]="compteForm" (ngSubmit)="onSubmit()">
                <div *ngIf="id === undefined"  class="card-header text-white bg-primary">
                  Créer un Nouveau Compte
                </div>
                <div *ngIf="id !== undefined"  class="card-header text-white bg-primary">
                  Modification de Compte
                </div>
                <div class="card-body">
                  <div class="mb-3 mt-3">
                    <label for="platformname" class="form-label">Nom de la plateforme:</label>
                    <input type="text" class="form-control" id="platformname" formControlName="platformname">
                    <span class="text-danger" *ngIf="platformnameCtrl.touched && platformnameCtrl.invalid">Ce champ est obligatoire</span>
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="description" class="form-label">Description:</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="userName" class="form-label">Nom d'utilisateur:</label>
                    <input type="text" class="form-control" id="userName" formControlName="userName">
                    <span class="text-danger" *ngIf="userNameCtrl.touched && userNameCtrl.invalid">Ce champ est obligatoire</span>
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <span class="text-danger" *ngIf="emailCtrl.touched && emailCtrl.invalid">Email invalide</span>
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="adressUrl" class="form-label">URL de la plateforme:</label>
                    <input type="text" class="form-control" id="adressUrl" formControlName="adressUrl">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe:</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                    <span class="text-danger" *ngIf="passwordCtrl.touched && passwordCtrl.invalid">Le mot de passe est obligatoire</span>
                  </div>
                  <div>{{ message }}</div>
                  <button *ngIf="passwordCtrl.value" type="button" (click)="verifyPwd(passwordCtrl.value )" 
                    class="btn btn-warning"><i class="bi bi-check-square">Vérif. Pwd.</i>
                  </button>          
                  

                  <div> {{ message }}</div>
                </div>
                <div class="card-footer">
                  <button type="submit" [disabled]="compteForm.invalid" class="btn btn-success btn-lg">
                    <i class="bi bi-check-lg"></i> Enregistrer
                  </button>

                  <button (click)="cancel()" class="btn btn-danger">
                    <i class="bi bi-x-lg"></i> Annuler
                  </button>
                  
                </div>


              </form>
            </div>
            
