<h2>Gestion des comptes </h2>
<table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Id</th>
        <!-- <th>Id Utilisateur</th> -->
        <th>description</th>
        <th>Url site Web</th>
        <th>Email</th>
        <th>Password</th>
        <th>Identifiant</th>
        <th></th>
      </tr>
      
      <tr>
        <td colspan="4">
          <button class="btn btn-primary" *ngIf="user && user.id !== undefined" (click)="add(user.id)">
            <i class="bi bi-plus-square"></i> Ajouter un compte
          </button>
        </td>
      </tr>

    </thead>
    <!--   description?:string;
        dateAdded?:Date;
        dateUpdate?:Date;
        userName?:string;
        email?:string;
        adressUrl?:string;
        utilisateur_id?:number;-->
      <tbody>
            <tr *ngFor="let l  of list() | async ">
              <td>{{l.id}}</td>
              <td>{{l.description}}</td>
              <td>{{l.adressUrl}}</td>
              <td>{{l.email}}</td>
              <td>{{l.password}}</td>
              <td>{{l.userName}}</td>
              <td><div class="btn-group btn-group-sm">
                    <button  class="btn btn-primary"><i class="bi bi-pen"></i></button>
                    <button  *ngIf="l.id !== undefined" (click)="remove(l.id )" class="btn btn-danger"><i class="bi bi-trash"></i></button>          
                  </div>
              </td>
          </tr>

      </tbody>
    
  </table>
