<h2>Gestion des comptes </h2>

<div>
  <button class="btn btn-primary" *ngIf="user && user.id !== undefined" (click)="add(user.id)">
    <i class="bi bi-plus-square"></i> Ajouter un compte
  </button>
</div>
<table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom de la Plateforme</th> 
        <th>description</th>
        <th>Url site Web</th>
        <th>Identifiant</th>
        <th>Email</th>
        <th>Password</th>
        <th></th>
      </tr>
      

    </thead>
    <!--   description?:string;
        dateAdded?:Date;
        dateUpdate?:Date;
        userName?:string;
        email?:string;
        adressUrl?:string;
        utilisateur_id?:number;-->
      <tbody>
            <tr *ngFor="let l  of list() | async ">
              <td>{{l.id}}</td>
              <td>{{l.platformname}}</td>
              <td>{{l.description}}</td>
              <td>{{l.adressUrl}}</td>
              <td>{{l.userName}}</td>
              <td>{{l.email}}</td>
              
              <td>{{l.password}}</td>
             
              <td><div class="btn-group btn-group-sm">
                    
                    <button *ngIf="l.id !== undefined " (click)="edit( l.id)" class="btn btn-primary">
                      <i class="bi bi-pen"></i>
                    </button>
                    <button *ngIf="l.password" type="button"  (click)="verifyPwd(l.password )" 
                    class="btn btn-warning"><i class="bi bi-check-square">Vérif. Pwd.</i></button>          
                  
                   <button *ngIf="l.id !== undefined" (click)="remove(l.id )" class="btn btn-danger"><i class="bi bi-trash"></i></button>          
                  </div>
              </td>
          </tr>

      </tbody>
    
  </table>
