<h2>Gestion des notes </h2>
<div>
  <button class="btn btn-primary" *ngIf="user && user.id !== undefined" (click)="add(user.id)">
    <i class="bi bi-plus-square"></i> Ajouter une note
  </button>
</div>
<table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Id</th>
        <!-- <th>Id Utilisateur</th> -->
        <th>Nom</th>
        <th>Description</th>
        <th>contenu</th>
        <th></th>
      </tr>
      

    </thead>
    
      <tbody>

            <tr *ngFor="let l of list() | async">
              <td>{{ l.id }}</td>
              <td>{{ l.nom }}</td>
              <td>{{ l.description }}</td>
              <td> {{ l.contenu }} </td>
              <td>
                <div class="btn-group btn-group-sm">
                  
                  <button *ngIf="l.id !== undefined " (click)="edit( l.id)" class="btn btn-primary">
                    <i class="bi bi-pen"></i>
                  </button>
                  <button *ngIf="l.id !== undefined" (click)="remove(l.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
              </td>
            </tr>

      </tbody>
    
  
  </table>