<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Mot de passe</th>
            <th>Mot primaire de Chiffrement des Notes</th>
          <!--  <th>Désactivé</th> -->
            <th></th>
        </tr>
    </thead>

    <!-- <tbody>
        <tr *ngFor="let u of list()">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.password}}</td>
            <td>{{u.motPrimaire}}</td>
            <!- - <td>{{u.disabled | boolean}}</td> - ->
            <td><div class="btn-group btn-group-sm">
                <button (click)="edit(u.id)" class="btn btn-primary"><i class="bi bi-pen"></i></button>
                <button (click)="remove(u.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
              </div></td>
        </tr>
    </tbody> -->

    <tfoot>
 
    </tfoot>

</table>
